/* Basic Navbar Styles */
.navbar-header {
  width: 100%;
  background: white;
  position: relative;
  top: 0;
  z-index: 100;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  color: black;
}

.nav-links li a:hover {
  color: #2563eb;
}

.active-link {
  background: #2563eb;
  color: white !important;
  border-radius: 4px;
  text-decoration: underline;
}

/* Dropdown Styling */
.dropdown {
  position: relative;
}

.dropdown-toggle .arrow {
  font-size: 20px;
  margin-left: 4px;
  transition: transform 0.3s ease;
}

/* Hover dropdown for desktop */
.dropdown:hover .arrow {
  transform: rotate(90deg);
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  left: 0;
  background: white;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: none;
  flex-direction: column;
  min-width: 220px;
  animation: dropdownFade 0.2s ease-in-out;
  z-index: 999;
}

/* Desktop hover show */
.dropdown:hover .dropdown-menu {
  display: flex;
}

/* Dropdown links */
.dropdown-menu li a {
  padding: 10px 15px;
  font-size: 16px;
  color: black;
  transition: background 0.3s;
}

/* .dropdown-menu li a:hover {
  background:white;
  color: red;
} */


/* Fade animation */
@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hamburger Button */
.menu-btn {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px 0;
    border-top: 1px solid #eee;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  /* Show dropdown always in mobile */
  .dropdown-menu {
    position: static;
    border: none;
    box-shadow: none;
    display: flex;
    padding-left: 0;
    gap: 25px;
  }

  .dropdown-menu li a {
    font-size: 18px;
    padding: 6px 10px;
  }

  .dropdown .arrow {
    display: none; /* hide arrow on mobile */
  }
}
