/* Basic Navbar Styles */
.navbar-header {
  width: 100%;
  background: white;
  position: relative;
  top: 0;
  z-index: 100;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}



/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;

  font-size: 18px;
  transition: color 0.3s ease;
}



/* Hamburger Button */
.menu-btn {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px 0;
    border-top: 1px solid #eee;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }
}
